
.input {
    background-color : #1a154f;
    color : #cfcfcf;
    padding : 12px;
    margin : 7px;
    border : none;
    border-radius: 4px;
    font-family : Century Gothic;
}

.input : focus {
    background-color : #1a154f;
    outline : none;
}

.button {
    background-color : orange;
    color : white;
    padding : 12px;
    margin : 7px;
    border : none;
    border-radius: 4px;
    font-family : Century Gothic;
}

